<div class="jumbotron">
  <h1>Niespodzianka!</h1>
  <p>
    To jest bardzo fajna niespodzianka.
  </p>
  <p>
    <%= link_to "Sprawdź to", posts_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>
