// alert("Hello World!<%= Time.now.beginning_of_year %>");
// $(".content-placeholder").html("<p>Nowa treść!</p>");
$(".content-placeholder").html("<%= escape_javascript(render(partial: "surprise_content")) %>")
